body{
    margin:0;
    Padding:0;
    font-family: Graphik,Boing,sans-serif;
    background: rgb(227, 91, 103,1);
    max-width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    }
    input::placeholder{
        color: white;
        opacity: 1;
    }
    *{
        box-sizing: border-box;
    }
    #slide{
        opacity:0.1;
        transition-duration:2s
    }
    #slide-active{
        opacity:1;
        transform: scale 1.22;
        transition-duration: 2s;
    }  
    